.main-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        'navbar navbar navbar navbar'
        'section section section aside'
        'footer footer footer footer ';
}


#section {
    grid-area: section;
}



#nprogress .bar {
    height: 5px;
}

/* .spinner-border {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    vertical-align: -0.125em;
    border: 0.4em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border;
    position: absolute;
    top: 55%;
} */